In [9]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\anjali\appdata\local\programs\python\python311\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\anjali\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.5.0 in c:\users\anjali\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\anjali\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\anjali\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
import pm4py
import pandas as pd
from pm4py.objects.conversion.log import converter as log_converter
from pm4py.objects.log.importer.xes import importer as xes_importer

# process mining 
from pm4py.algo.discovery.alpha import algorithm as alpha_miner
from pm4py.algo.discovery.inductive import algorithm as inductive_miner
from pm4py.algo.discovery.heuristics import algorithm as heuristics_miner
from pm4py.algo.discovery.dfg import algorithm as dfg_discovery

# viz
#from pm4py.visualization.petrinet import visualizer as pn_visualizer
from pm4py.visualization.process_tree import visualizer as pt_visualizer
from pm4py.visualization.heuristics_net import visualizer as hn_visualizer
from pm4py.visualization.dfg import visualizer as dfg_visualization

In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [12]:
log = xes_importer.apply('BPI_Challenge_2012.xes.gz')

c:\Users\Anjali\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
parsing log, completed traces :: 100%|██████████| 13087/13087 [00:20<00:00, 632.16it/s]

In [13]:
df = pm4py.convert_to_dataframe(log)

c:\Users\Anjali\AppData\Local\Programs\Python\Python311\Lib\site-packages\pm4py\utils.py:494: UserWarning: the EventLog class has been deprecated and will be removed in a future release.
  warnings.warn("the EventLog class has been deprecated and will be removed in a future release.")

In [17]:
df.head(50)

,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
0,112,COMPLETE,A_SUBMITTED,2011-09-30 22:38:44.546000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
1,112,COMPLETE,A_PARTLYSUBMITTED,2011-09-30 22:38:44.880000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
2,112,COMPLETE,A_PREACCEPTED,2011-09-30 22:39:37.906000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
3,112,SCHEDULE,W_Completeren aanvraag,2011-09-30 22:39:38.875000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
4,NaN,START,W_Completeren aanvraag,2011-10-01 09:36:46.437000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
5,10862,COMPLETE,A_ACCEPTED,2011-10-01 09:42:43.308000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
6,10862,COMPLETE,O_SELECTED,2011-10-01 09:45:09.243000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
7,10862,COMPLETE,A_FINALIZED,2011-10-01 09:45:09.243000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
8,10862,COMPLETE,O_CREATED,2011-10-01 09:45:11.197000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
9,10862,COMPLETE,O_SENT,2011-10-01 09:45:11.380000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
10,NaN,SCHEDULE,W_Nabellen offertes,2011-10-01 09:45:11.554000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
11,NaN,COMPLETE,W_Completeren aanvraag,2011-10-01 09:45:13.917000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
12,NaN,START,W_Nabellen offertes,2011-10-01 10:15:41.290000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
13,NaN,COMPLETE,W_Nabellen offertes,2011-10-01 10:17:08.924000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
14,10913,START,W_Nabellen offertes,2011-10-08 14:26:57.720000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
15,10913,COMPLETE,W_Nabellen offertes,2011-10-08 14:32:00.886000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
16,11049,START,W_Nabellen offertes,2011-10-10 09:32:22.495000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
17,11049,COMPLETE,O_SENT_BACK,2011-10-10 09:33:03.668000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
18,11049,SCHEDULE,W_Valideren aanvraag,2011-10-10 09:33:04.560000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
19,11049,COMPLETE,W_Nabellen offertes,2011-10-10 09:33:05.791000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
20,10629,START,W_Valideren aanvraag,2011-10-13 08:05:26.925000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
21,10629,COMPLETE,A_REGISTERED,2011-10-13 08:37:29.226000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
22,10629,COMPLETE,A_APPROVED,2011-10-13 08:37:29.226000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
23,10629,COMPLETE,O_ACCEPTED,2011-10-13 08:37:29.226000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
24,10629,COMPLETE,A_ACTIVATED,2011-10-13 08:37:29.226000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
25,10629,COMPLETE,W_Valideren aanvraag,2011-10-13 08:37:37.026000+00:00,2011-09-30 22:38:44.546000+00:00,173688,20000
26,112,COMPLETE,A_SUBMITTED,2011-10-01 06:08:58.256000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
27,112,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 06:09:02.195000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
28,112,COMPLETE,A_PREACCEPTED,2011-10-01 06:09:56.648000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
29,112,SCHEDULE,W_Completeren aanvraag,2011-10-01 06:09:59.578000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
30,NaN,START,W_Completeren aanvraag,2011-10-01 09:37:32.393000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
31,NaN,COMPLETE,W_Completeren aanvraag,2011-10-01 09:43:13.178000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
32,NaN,START,W_Completeren aanvraag,2011-10-01 12:27:57.775000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
33,10862,COMPLETE,A_ACCEPTED,2011-10-01 12:33:54.614000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
34,10862,COMPLETE,A_FINALIZED,2011-10-01 12:35:46.016000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
35,10862,COMPLETE,O_SELECTED,2011-10-01 12:35:46.016000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
36,10862,COMPLETE,O_CREATED,2011-10-01 12:35:47.488000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
37,10862,COMPLETE,O_SENT,2011-10-01 12:35:47.583000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
38,NaN,SCHEDULE,W_Nabellen offertes,2011-10-01 12:35:47.682000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
39,NaN,COMPLETE,W_Completeren aanvraag,2011-10-01 12:35:48.791000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
40,NaN,START,W_Nabellen offertes,2011-10-01 12:36:13.443000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
41,NaN,COMPLETE,W_Nabellen offertes,2011-10-01 12:36:25.794000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
42,NaN,START,W_Nabellen offertes,2011-10-03 14:54:43.257000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
43,11120,COMPLETE,O_SELECTED,2011-10-03 14:56:17.731000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
44,11120,COMPLETE,O_CANCELLED,2011-10-03 14:56:17.731000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
45,11120,COMPLETE,O_CREATED,2011-10-03 14:56:19.613000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
46,11120,COMPLETE,O_SENT,2011-10-03 14:56:19.645000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
47,NaN,SCHEDULE,W_Nabellen offertes,2011-10-03 14:56:19.941000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
48,NaN,COMPLETE,W_Nabellen offertes,2011-10-03 14:56:21.195000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000
49,NaN,START,W_Nabellen offertes,2011-10-03 14:56:34.792000+00:00,2011-10-01 06:08:58.256000+00:00,173691,5000

In [16]:
df.shape

(262200, 7)